@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

:root {
    font-size: 15px;
    /* ## Colors */
    /* ### Primary */
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    /* ### Neutral */
    --Transparent-white--paragraphs: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray--background-headings-buttons: hsl(0, 0%, 95%);
}

body {
    background: var(--Very-light-gray--background-headings-buttons);
}

main {
    display: grid;
    place-items: center;
    /* height: 100vh; */
}

main section {
    margin: 20px;
    width: 330px;
}

.sedan {
    background: var(--Bright-orange, orange);
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
.sedan a {
    color: var(--Bright-orange, orange);
}

.suv {
    background: var(--Dark-cyan, darkcyan);
}
.suv a {
    color: var(--Dark-cyan, darkcyan);
}

.lux {
    background: var(--Very-dark-cyan, darkblue);
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}
.lux a {
    color: var(--Very-dark-cyan, darkblue);
}

main section div.card {
    padding: 45px;
    display: flex;
    line-height: 1.8;
    flex-flow: column nowrap;
    justify-content: space-around;
    color: var(--Transparent-white--paragraphs);
    /* font-family: "Lexend Deca", sans-serif; */
}

main section div.card h1 {
    margin: 20px 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: "Big Shoulders Display", cursive;
    color: var(--Very-light-gray--background-headings-buttons, lightgrey);
}

main section div.card a {
    margin-top: 30px;
    width: fit-content;
    background-color: var(
        --Very-light-gray--background-headings-buttons,
        lightgrey
    );
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

main section div.card a:hover {
    background-color: transparent;
    color: var(--Very-light-gray--background-headings-buttons, lightgrey);
    border: 2px solid
        var(--Very-light-gray--background-headings-buttons, lightgrey);
}

@media (min-width: 1000px) {
    main {
        height: 100vh;
    }

    main section {
        display: flex;
        flex-flow: row nowrap;
        width: 900px;
    }

    .sedan {
        border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -ms-border-radius: 5px 0 0 5px;
        -o-border-radius: 5px 0 0 5px;
    }
    .lux {
        border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
        -o-border-radius: 0 5px 5px 0;
    }

    main section div.card a {
        margin-top: 75px
    }
}
